body{
    background-color: beige;
}


/* .h{
    padding-top: 30px;
    padding-left: 50px;
} */

.navbar{
    background-color: rgb(255, 255, 59);
    padding: 10px;
    display: flex;
}

.navbar h1{
    margin-right: 800px;
}

.navbar a{
    margin-right: 35px;
    margin-top: 26px;
}

.desc{
    text-align: center;
    padding: 50px;
}

.desc p{
    font-size: 18px;
}

.desc ul{
    list-style: none;
}

.desc li{
    margin-bottom: 10px;
}

.desc h1{
    color: aliceblue;
    background-color: black;
    width: 500px;
    height: 500px;
}

.sec2{
    background-color: blue;
    width: 500px;
    /* margin-left: 500px; */
    height: 500px;
}

h2{
    text-align: center;
}

.img1{
    width: 530px;
    height: 320px;
}

.img2{
    width: 530px;
    height: 530px;
}

.images{
    text-align: center;
    background-color:rgb(255, 241, 236);
}

.footer{
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgb(255, 238, 238);
    height: 150px;
    text-align: center;
}

.subscribe{
    font-style: oblique;
    font-weight: bold;
}
